<div class="container">
  <kendo-card>
    <kendo-card-header>
      <div>
        <h3 kendoCardTitle>License Attributions</h3>
        <p kendoCardSubtitle>License Attributions</p>
      </div>
    </kendo-card-header>
    <kendo-card-body>
      <ul>
        <li>
          Favicon made by
          <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </li>

        <li>
          Hero vectors designed by
          <a href="http://www.freepik.com">pch.vector / Freepik</a> and
          <a href="https://www.vecteezy.com/free-vector/a">Vecteezy</a>
        </li>
      </ul>
    </kendo-card-body>
  </kendo-card>
</div>
