// colors

$indigo-dye: rgba(9, 64, 116, 1);
$queen-blue: rgba(60, 105, 151, 1);
$amaranth-purple: rgba(166, 58, 80, 1);
$beaver: rgba(161, 124, 107, 1);
$linen: rgba(240, 231, 216, 1);
$white: white;

$base-bg: $white;
$base-text: $amaranth-purple;
$hovered-bg: $amaranth-purple;
$hovered-text: $white;
