/* You can add global styles to this file, and also import other style files */
@import "assets/variables.scss";
/* We need this for kendo styles to loead*/
@import "~@progress/kendo-theme-material/dist/all.scss";

body,
input[text],
button {
  font-family: Cambria, Georgia;
}
* {
  font-family: Arial;
}

ul,
li {
  text-decoration: none;
}
